<% content_for :head do %>
    <title><%= t('how_it_works.title', :default=> 'How It Works - SEO Marketing') %></title>
<% end %>
<div id="content-main" class="pages">

  <!--
  <h1>How It Works</h1>
  <div id="how-it-works">
      <ul>
        <li>We start with a Free SEO Marketing Analysis which includes our expert keyword suggestions.</li>
        <li>Included with your free SEO report is a rate card for the top 30 organic search results.</li>
        <li>When you are ready to begin, simply return the agreement and SEOMarketing begins to optimize your web site and market your business online.</li>
        <li>Every 30 days you get a detailed Search Engine Results Page (SERP) rankings report with the results. You pay only for the search engine rankings we helped you achieve.</li>
      </ul>
    <hr>
  </div>
  -->
  <%= t('how_it_works.how_it_works') %>

  <div id="rank-before-you-pay">
    <h2>Rank Before You Pay</h2>
    <div id="satisfaction-guarantee"><%= image_tag("satisfaction-guarantee-w150-h150.png", :alt => "SEOMarketing - Satisfaction Guarantee") %> </div>
    <h6 style="text-align: center;margin-bottom: 40px;">100% Satisfaction Guaranteed</h6>
    <hr>
  </div>

  <!--
  <h2>Features and Benefits</h2>
  <div id="features-benefits">
    <ul>
      <li class="pay-for-result"><h5>Pay-For-Result</h5>Only pay for the rankings we help you achieve.</li>
      <li class="satisfaction-guaranteed"><h5>Satisfaction 100% Guaranteed</h5>If you're not satisfied, simply contact us so we can work with you to make it right.</li>
      <li class="dedicated-seo-expert"><h5>Dedicated SEO Expert</h5>Your dedicated SEO marketing expert will take time to understand your business and find solutions to your online marketing needs.</li>
      <li class="keyword-research"><h5>Keyword Research</h5>Using a sophisticated set of tools, we help you pick the right keywords for your marketing goals.</li>
      <li class="page-optimization"><h5>Page Optimization</h5>On the first day, our SEO team thoroughly reviews and optimizes more than 150 search engine ranking factors on your website.</li>
      <li class="website-monitoring"><h5>Website Monitoring</h5>Our Marketing Operations Center continuously monitors changes to hundreds of SEO Ranking Factors and updates your web pages with the correct response.</li>
      <li class="site-map-management"><h5>Site Map Management</h5>We monitor changes to your website to ensure that all the major search engines have a current and complete copy of your sitemap.</li>
      <li class="link-building"><h5>Link Building</h5>Our Marketing Operations Center continuously scours the web for linking opportunities. Our SEO experts then manually submit your website to the high quality websites they find that are a good fit for your business.</li>
      <li class="content-development"><h5>Content Development</h5>Our expert copywriters will help you write keyword rich product descriptions, press releases, blog content and more.</li>
      <li class="social-media-marketing"><h5>Social Media Marketing</h5>Our online marketing team will help you craft the perfect social media marketing campaign and regularly post updates to sites like Facebook and Twitter.</li>
      <li class="consistent-reporting"><h5>Consistent Reporting</h5>You can track your progress with regular reports sent to your email.</li>
      <li class="geo-targeted"><h5>GEO Targeted</h5>We target your SEO campaigns to the country you want to market.</li>
    </ul>
  </div>
  -->
  <%= t('how_it_works.features_and_benefits') %>

</div>


