<% content_for :head do %>
    <title><%= t('faq.title', :default=> 'SEO Marketing FAQ') %></title>
<% end %>
<div id="content-main" class="pages">

  <!--
  <h1>SEOMarketing FAQs</h1>
  <br><br>
  <h2>What is the Free SEO Analysis?</h2>
  <div class="odd">
    The free SEO report helps customers focus their online marketing strategy on achievable goals. The report includes on-page optimization suggestions, a competitive analysis, and our analyst's expert keyword suggestions with difficulty scores and traffic estimates. It's all the data we need to calculate our Pay-For-Results rate card, and we share all the data with you absolutely free with no obligation.
  </div>
  <h2>How does SEOMarketing Make Money?</h2>
  <div class="even">
    We get paid for the Search Engine Result Page (SERP) rankings results we help our customers achieve.
  </div>
  <h2>How does Pay-For-Result (PFR) SEO Pricing Work?</h2>
  <div class="odd">
    During the free SEO Analysis we prepare a rate card for the top 30 SERP results on Google and Yahoo/Bing. The prices on the rate card reflects the keyword's popularity and value relative to our customer's competitive strengths.
  </div>
  <h2>How do I get billed?</h2>
  <div class="even">
    We track your SERP rankings over a 30 day period and calculate your average ranking for the month.  We then apply the rate card when creating your invoice.
  </div>
  <h2>What if I'm already in the top 30 SERP Rankings.</h2>
  <div class="odd">
    You only pay for the rankings we help you improve.  if your rankings do not improve you will not be invoiced for our services.
  </div>
  -->
  <%= t('faq.page') %>

</div>
