<% content_for :head do %>
    <title>About SEO Marketing</title>
<% end %>
<div id="content-main" class="pages">
  <h1>About SEOMarketing</h1>
  <div class="odd">
    <p>SEOMarketing Co., Ltd. is full service Internet Marketing company that provides Pay-For-Results Search Engine Optimization (SEO) services to companies around the world. Our Marketing Operations Center is located in Bangkok, Thailand.</p>
  </div>
  <h2>Our SEO Philosophy</h2>
  <div class="even">
    <h3>Customers Pay Only For Results</h3>
    <p>We believe customer should only have to pay for results. With our Pay-For-Result SEO service the customer is assured our Marketing Operations Team is 100% motivated to get our customer's ranked as fast as possible.</p>
    <h3>Continuous Improvement</h3>
    <p>Month after month we write articles, submit links, and promote our customer's website on social media sites such as Facebook and Twitter that drive traffic and improve our customer's SEO rankings.</p>
    <h3>The Search Engines' Best Friend</h3>
    <p>We are committed to using search engine friendly marketing methods rooted in sound marketing principles. This helps insure that our customers keep, and even improve, their SEO rankings over time.</p>
  </div>
</div>


