// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#content-bottom-home {
  line-height: 1.5;
  font-size: 16px;
  h1,h2 {
    padding-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    li {
      padding-bottom: 15px;
      background-image: url("bullet-black.png");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      padding-left: 34px;
    }

  }
}

.button.orange {
  color: rgb(153, 99, 0) !important;
  background-color: rgb(255, 165, 0);
  box-shadow: 0px 0.3em 0.3em rgba(255, 254, 255, 0.6) inset, 0px -0.1em 0.3em rgba(0, 0, 0, 0.15) inset, 0px 0.1em 3px rgb(204, 132, 0), 0px 0.3em 1px rgb(153, 99, 0), 0px 0.5em 5px rgba(0, 0, 0, 0.2);
}
.button {
  text-align: center;
  text-decoration: none;
  font: bold 24px/1em 'Droid Sans',sans-serif;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-user-select: none;
  padding: 0.5em 0.6em 0.4em;
  /*margin: 20px;*/
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-image: -moz-radial-gradient(center top , ellipse farthest-corner, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url("noise.png");
  -moz-transition: background 0.2s ease-in-out 0s;
  &:hover {
    background-color: hsl(39, 100%, 65%); }
}
.center-it {
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}

