// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-form {
  background-color: #F2F7F9;
  width: 465px;
  padding: 20px;
  margin: 40px auto;
  border: 6px solid #79c6f5;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  h3 {
    font-size: 42px; }
  h4 {
    margin-bottom: 15px;
    font-style: italic;
    font-weight: normal; }
  input, select, textarea, label {
    font-size: 15px;
    margin-bottom: 2px; }
  input, select, textarea {
    width: 450px;
    border: 1px solid #CEE1E8;
    margin-bottom: 20px;
    padding: 4px; }
  input:focus, select:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4; }
  textarea {
    &:focus {
      border: 1px solid #AFCDD8;
      background-color: #EBF2F4; }
    height: 150px;
    resize: none; }
  label {
    display: block; }
  .required {
    font-weight: bold;
    color: #F00; }
  #submit-button {
    width: 100px;
    background-color: #333;
    color: #FFF;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    margin-right: 6px;
    background-color: #79c6f5;
    -moz-border-radius: 8px;
    &:hover {
      background-color: #42b2f6; }
    &:active {
      position: relative;
      top: 1px; } }
  #loading {
    width: 32px;
    height: 32px;
    background-image: url(../img/loading.gif);
    display: block;
    position: absolute;
    right: 130px;
    bottom: 16px;
    display: none; }
   }

#errors {
  border: solid 1px #E58E8E;
  padding: 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ffe6e6 url(../img/cancel_48.png) no-repeat 405px center;
  display: none;
  li {
    padding: 2px;
    list-style: none;
    &:before {
      content: ' - '; } }
  #info {
    font-weight: bold;
    &:before {
      content: ''; } } }

#success {
  border: solid 1px #83D186;
  padding: 25px 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #d3edd3 url(../img/accepted_48.png) no-repeat 405px center;
  font-weight: bold;
  display: none; }

#errors.visible, #success.visible {
  display: block; }

#req-field-desc {
  font-style: italic; }

/* Remove box shadow firefox, chrome and opera put around required fields. */
input:required, textarea:required {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
  color:#CCC;
  font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color:#CCC;
  font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
  color:#CCC;
  font-style:italic;
}




/*.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }   */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#get-started {
  margin: 40px;
  padding: 20px;
  background: darken(#F2F4F6, 5%);
  font-size: 16px;
  line-height: 1.5;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    li {
      padding-bottom: 15px;
      background-image: url("bullet-blue.png");
      background-repeat: no-repeat;
      background-position: 0px -4px;
      padding-left: 34px;
    }
} }

.notice {
  text-align: center;
  font-size: 20px;
  color: green;
}
