// Place all the styles related to the terms_of_service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.terms-of-service,.privacy-policy {
  .last-modified {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p {
    padding: 10px;
  }
}