<p>There is a new signup for SEOMarketing.co.th</p> <br>

<p>Here are the details:</p>

<p><strong>Name:</strong> <%= @message.name %></p>

<p><strong>Email:</strong> <%= @message.email %></p>

<p><strong>Subject:</strong> <%= @message.phone %></p>

<p><strong>Website:</strong> <%= @message.website %></p>