<% content_for :head do %>
    <title>SEOMarketing's Terms of Service Agreement</title>
<% end %>
<div id="content-main" class="pages terms-of-service">
  <h1>TERMS OF SERVICES AGREEMENT</h1>

  <div class="last-modified">Last modified: July 12, 2012</div>
  <h5>Welcome to SEOMarketing!</h5>

  <p>SEOMarketing.co.th ("Site") is managed and maintained by SEOMarketing Co., Ltd. ("SEOMarketing"), located at 1518/5 Floor 4, CeaShun Building, Phacharaj 1 Rd., Wongsawang, Bungsue, Bangkok 10800, Thailand.</p>

  <h5>1.) Scope of Agreement and Acceptance</h5>

  <p>The following Terms of Services apply to all the products and services ("Services") SEOMarketing provides on the Site which include, but are not limited to, SEO marketing, web development, server administration, and content development. Use of Services constitutes you acknowledged agreement to be bound by the terms of service herein, so please read carefully. If you do not agree to these Terms of Service, you are not authorized to access our Site nor us our Services.</p>

  <h5>2.) Services Provided</h5>

  <h6>Free SEO Marketing Analysis</h6>

  <p>Upon the Customer's request, SEOMarketing will prepare a detailed SEO Optimization and  Search Engine Result Page (SERP) Ranking report for the Customer.  In addition to receiving the report, the Customer agrees to receive a detailed overview of our Pay-For-Results SEO Marketing Service which includes a service agreement.  Addendum A of the service agreement will define the pricing tiers for the search engine(s), keyword(s), and url(s) that SEOMarketing proposes to market. To sign up for service, the Customer simply signs and returns the service agreement to SEOMarketing.

  <h6>Pay-For-Results SEO Marketing Service</h6>

  <p>After SEOMarketing recieves the completed service agreement from the customer, SEOMarketing will setup the tracking and reporting tools necessary to provide the Pay-For-Results SEO Marketing Service. SEOMarketing will then send a welcome email that contains contact information and login information to use the service. While SEOMarketing begins collecting data the moment the tools tracking tools are setup, SEOMarketing will not begin optimize the customer's website until we enter the specified in the contract.</p>

  <h6>SERP Ranking Reports</h6>

  <p>SERP Ranking reports are updated at least (4) times per month. Active Pay-For-Results SEO Marketing Service Customers can access the most current report by logging into the Customer Area. Customers may also request to have reports sent to their email on a scheduled basis.</p>

  <h5>3.) Pricing and Invoicing Terms</h5>

  <p>Pay-For-Results (PFR) SEO Marketing means that customers only pay for the SEO rankings SEOMarketing helps them achieve. Customers are invoiced according to how well they rank in the Top 30 position on Google and Bing/Yahoo! compared to their original position. Customers will not be billed for the keywords that do not improve or decline in rank.</p>

  <p>The prices SEOMarketing quotes are determined by an experienced SEO Analyst who examines multiple SEO ranking factors in order to assess the value and competitiveness of each keyword. SEOMarketing also considers the amount of coding, content development, and link building labor required to improve the Customer's position when quoting price.</p>

  <p>The rate card is locked-in the day the contract is signed and expires at the end of the service period. Any changes to the rate card must be agreed to by SEOMarketing in writing.</p>

  <p>For billing purposes, we use the latest SERP ranking report when creating the Customer's invoice.</p>

  <p>All payments are due within 10 days of the invoice date.</p>

  <h5>4.) Property Rights</h5>

  <p>Everything on the Site belongs to SEOMarketing. SEOMarketing solely and exclusively owns all rights, title and interest to the Site, including, but not limited to, any copyrights, trademark rights, patent rights, digital rights, and other intellectual property and proprietary rights therein. Using the Site does not grant you ownership to any of its code, data, or content.</p>

  <p>All information Customer's submit to SEOMarketing is considered confidential and will only be shared with people SEOMarketing assigns to service the customer's account.</p>

  <p>All content posted to the customer's website is considered "work for hire" with the copyrights belonging to the customer, unless otherwise specified in a written agreement between the Customer and SEOMarketing.</p>

  <p>SEOMarketing agrees not to reuse or redistribute the content we produced for you as long as your account stays current or is paid in full. Nonpayment of the agreed on price results in the copyrights belonging to SEOMarketing.</p>

  <p>SEOMarketing agrees not to reuse the content we create for you in the same form as it was delivered to you. However, SEOMarketing cannot be held responsible for similar content appearing anywhere, nor can we be responsible for someone else misusing your content. The Customer's duty and responsibility to protect their copyrights remains in full force.</p>

  <h5>5.) DISCLAIMER OF WARRANTIES</h5>

  <p>THE SITE AND ITS SERVICES, CONTENT, FUNCTIONS AND MATERIALS ARE PROVIDED "AS IS," "AS AVAILABLE", AND WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY FOR INFORMATION, DATA, DATA PROCESSING SERVICES, UPTIME OR UNINTERRUPTED ACCESS, ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, USEFULNESS OR CONTENT OF INFORMATION ON THE SITE, AND ANY WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, AND WE HEREBY DISCLAIM ANY AND ALL SUCH WARRANTIES, EXPRESS AND IMPLIED. NO ADVICE, RESULTS OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH THE SITE (INCLUDING, WITHOUT LIMITATION, THROUGH OUR BLOG(S)) SHALL CREATE ANY WARRANTY. SEOMARKETING ALSO ASSUMES NO RESPONSIBILITY, AND SHALL NOT BE LIABLE FOR, ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR COMPUTER EQUIPMENT OR OTHER PROPERTY ON ACCOUNT OF YOUR ACCESS TO, USE OF, OR BROWSING IN THE SITE OR YOUR DOWNLOADING OF ANY MATERIALS, DATA, TEXT, IMAGES, VIDEO, OR AUDIO FROM THE SITE. IF YOU ARE DISSATISFIED WITH THE SITE, YOUR SOLE REMEDY IS TO DISCONTINUE USING THE SITE.</p>

  <p>WE RESERVE THE RIGHT TO CHANGE OR MAKE CORRECTIONS TO ANY OF THE INFORMATION PROVIDED ON THE SITE AT ANY TIME AND WITHOUT ANY PRIOR WARNING. WE CANNOT, AND DO NOT, GUARANTEE THE CORRECTNESS, PRECISION, THOROUGHNESS OR COMPLETENESS OF ANY OF THE INFORMATION AVAILABLE ON THE SITE, NOR WILL WE BE LIABLE FOR ANY INACCURACY OR OMISSION CONCERNING ANY OF THE INFORMATION PROVIDED ON THE SITE. WITHOUT LIMITATION OF THE ABOVE IN THIS SECTION, WE HEREBY DISCLAIM, AND YOU HEREBY WAIVE, ANY AND ALL WARRANTIES AND REPRESENTATIONS MADE IN PRODUCT OR SERVICES LITERATURE, FREQUENTLY ASKED QUESTIONS DOCUMENTS AND OTHERWISE ON THE SITE OR IN CORRESPONDENCE WITH SEOMARKETING OR ITS AGENTS.</p>

  <h5>6.) Applicable Laws and Dispute Resolution</h5>

  <p>We control and operate the Site from our offices in Thailand. We do not represent that materials on the Site are appropriate or available for use in other locations. Persons who choose to access the Site from other locations do so on their own initiative, and are responsible for compliance with local laws, if and to the extent local laws are applicable.</p>

  <h5>7.) Refunds</h5>

  <p>Customer are only charged for the SEORankings we help them achieve and thus refunds cannot be provided.</p>

  <h5>8.) Termination</h5>

  <p>We may terminate, change, suspend or discontinue any aspect of the Site or the Site's services at any time. We may restrict, impose limits on, suspend or terminate your access to the Site and/or its services or features (e.g., our blog(s)) if we believe you have violated this Terms of Services Agreement or applicable law, or for any other reason without notice or liability. SEOMarketing maintains a policy that provides for the termination in appropriate circumstances of the Web Site use privileges of users who are repeat infringers of intellectual property rights.</p>

  <h5>9.) Changes to Terms of Service</h5>

  <p>SEOMarketing reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms of Service, in whole or in part, at any time. Changes to the Terms of Service will be effective when posted.</p>
</div>
